extends layout

block content
	div(class='section')
		div(class='container')
			div(class='row')
				div(class='col-md-12')
					ul(class='media')
						each haha in result
							li(class='media')
								//a(class='pull-left' herf='#')
								img(class="pull-left" src='#{haha.imageaddr}' height="64" width="64")
								div(class='media-body')
									h4(class='media-heading')
										a(href='/searchprofile/?brand=#{haha.brand}', class='media-heading') #{haha.brand}
									h4(class='media-heading')
										a(href='/searchprofile/?brand=#{haha.name}', class='media-heading') #{haha.name}